<mat-card class="matcard">
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-label>Títulos</mat-label>
                <input matInput [(ngModel)]="produto.nome" type="text">
            </mat-list-item>
            <mat-list-item>
                <mat-label>Preço</mat-label>
                <input matInput [(ngModel)]="produto.preco" type="tel">
            </mat-list-item>
            <mat-list-item>
                <mat-label>Descrição</mat-label>
                <textarea [(ngModel)]="produto.descricao" rows="4"></textarea>
            </mat-list-item>
            <mat-list-item>
                <mat-select [(ngModel)]="produto.categoriaId"></mat-select>
                <mat-option *ngFor="let item of categorias">{{item.titulo}}</mat-option>
            </mat-list-item>
            <mat-list-item *ngIf="produto.foto">
                <img [src]="produto.foto" class="foto">
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>