<div class="app">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-icon>local_pizza</mat-icon>
            <span class="iconLogo">Woosh</span>
            <span class="example-spacer"></span>
            <div class="example-button-row">
                <a routerLink="../pedidos" mat-button>Pedidos</a>
                <a routerLink="../mensagens" mat-button>Mensagens</a>
                <a routerLink="../produtos" mat-button>Produtos</a>
                <a routerLink="../categorias" mat-button>Categorias</a>
                <a mat-button>Clientes</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet>
    </router-outlet>
</div>